<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoD2yL3MwS36eltrTbU8rbwJnhEJGx7hk</string>
	<key>GCM_SENDER_ID</key>
	<string>202775735470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.daphko.skeleton</string>
	<key>PROJECT_ID</key>
	<string>daphko-ai-skeleton</string>
	<key>STORAGE_BUCKET</key>
	<string>daphko-ai-skeleton.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202775735470:ios:fe02263bbc63512f75913f</string>
</dict>
</plist>